<div class="container" style="margin-top: 70px">
  <div>


    <div class="border1 col-md-12">
      <div class='row justify-content-center' style="margin-top: 5px;">
        <div style="padding-right: 10px">
          <a href="#">Active jobs</a>
        </div>
        <span class="vl"></span>
        <div style="padding-left: 10px">
          <a href="#">Inactive Jobs</a>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 7px">
          <label style="margin-top: 5px">Copy from an existing job: </label>
        <div class="dropdown" dropdown style="padding-left: 5px">
          <button type="button" class="btn dropdown-toggle" dropdownToggle>Select from active jobs to Autofill</button>
          <div class="dropdown-menu" *dropdownMenu style="width: 278px">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>

    <div>
    <div class="border2 col-md-12">
      <div class="details"><b>Job Details</b>-Specify details of the position/job you are going to post</div>
    </div>
    </div>

  </div>
</div>
